[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
python-socketio = "*"
eventlet = "*"
pyserial = "*"


[dev-packages]

pyinstaller = "*"
pylint = "*"


[requires]

python_version = "3.6"
